
/* Styling for Emails */

.wrapper {
    padding: 20px;
    color: #444;
    font-size: 1.3em;
}
a {
    background: #592f80;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
}